/* 
    Projet : Voila! Website
    Détail : CSS - page personnelle Alexandre
    Auteur : Alexandre Sticher
    Date : 17.05.02 v1
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    --primaryColor-: #161e35;
    --secondaryColor-: #3071e7;
    --backgroundColor-: #a6b2ec;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 10%;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a2d9ff;
    color: #9FE7F5;
}

header>nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav ul li {
    list-style: none;
    margin: 1em;
}

a {
    color: #000000;
    text-decoration: none;
}

header>div a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header>div a img {
    margin-right: 1em;
}

header div {
    height: 100%;
}

img {
    height: 100%;
}

main {
    width: 100%;
    min-height: 80%;
    display: flex;
}

article {
    border-radius: 20px;
    background: #a2d9ff;
    padding: 1em;
}

p {
    margin-top: 1em;
}

footer {
    margin-top: 0px;
    padding: 1em;
    width: 100%;
    height: 10%;
    color: black;
    font-size: 1.5em;
    background-color: #a2d9ff;
}

svg {
    margin: 0 0 -10px 0;
}

main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul li:hover {
    transition: all ease-in-out 0.2s;
    color: white;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

article {
    transition: all ease-in 0.1s;
    width: 27%;
    height: 400px;
    margin: 1em;
    margin-top: 2em;
    overflow: hidden;
    min-height: 300px;
    min-width: 300px;
}

main div {
    display: flex;
    justify-content: space-evenly;
}

article:hover {
    transition: all 0.7s ease-in-out;
    width: 32%;
    box-shadow: 5px 5px 10px 1px gray;
    background-color: aliceblue;
}

#tableau {
    overflow-x: auto;
}

main>p {
    flex-basis: 60%;
    font-size: 1.3em;
}

footer>p {
    margin: 0;
    text-align: center;
}

#tableau {
    width: 100%;
}

table {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    user-select: none;
    background-color: #ffff;
    cursor: default;
    width: 80vw;
    font-size: 1.2em;
    /* border: solid 3px black; */
}

caption {
    font-size: 1.5em;
    color: black;
}

td,
th {
    font-variant: small-caps;
    border: solid black 1px;
    padding: 1em;
}

#special {
    border: none;
    padding: 2em;
    font-size: 1.5em;
}

.celluleS {
    width: 5%;
}

sup {
    font-variant: normal;
}

#celThree {
    width: 10%;
}

.coloredCels {
    background-color: rgb(216, 216, 216);
}

@media (max-width:660px) {
    div {
        display: flex;
        flex-direction: column;
    }
    article {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    header {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    header nav ul {
        flex-wrap: wrap;
    }
    footer {
        width: 100%;
    }
    article:hover {
        width: 90%
    }
    #div2 {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:660px) and (max-width:1000px) {
    div {
        display: flex;
        flex-direction: column;
    }
    article {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }
    article:hover {
        width: 90%
    }
    footer {
        width: 100%;
    }
    header {
        width: 100%;
    }
}

@media (min-width:1000px) and (max-width:1311px) {
    footer {
        width: 100%;
    }
    header {
        width: 100%;
    }
}